--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.12.1+cu113
tensorflow==2.10.0
accelerate==0.13.0
datasets==2.5.2
scikit-learn==1.1.2
evaluate
sentencepiece
nltk
jsonlines
typer
rouge_score
